.main1
{
	 display:inline;
     text-align:center;
	
}
.ta1
{
	padding:10px;
	//border:1px solid black;
	margin-left:20px;
	margin-top:5px;

	align:center;
}
.ta11
{
	text-align:center;
	margin-top:3px;
}
.text
{
	text-align:center;
	margin-top:2px;
}
textarea:hover
{
	opacity:1;
	transition:all 0.5s ease;
	transform:scale(1.1);
}
textarea
{
	opacity:0.9;
}
.heading
{
	color:white;
	font-size:30px;
	text-align:center;
	margin-left:180px;
	margin-top:20px;
}
#p1
{
	font-size:25px;
	color:white;
}
